* {margin: 0;padding: 0;box-sizing: border-box;}

header { position: fixed;width: 100%;height: 8.5em;background-color: white;z-index: 1;}

header .logo {position: absolute; height: 7em; width: 5em;left: 10em;}

.logo img {position:absolute;height: 7em;width: 5em;top: 0.5em;}

header > nav { position: absolute; right: 10em; top: 3em; min-width: 10em;}
header nav button {border-radius: 5em; padding: 0.5em; cursor: pointer; margin-left: 1em;font-size: larger;
;background-color: white;font-weight: bold;color: #7f1d2b;border:0;}

header nav #contacto a {text-decoration: none;color: #7f1d2b;}
header nav #nosotros a {text-decoration: none;color: #7f1d2b;}
header nav #aplicaciones a {text-decoration: none;color: #7f1d2b;}

#contacto a:hover{color: white;}
#nosotros a:hover{color: white;}
#aplicaciones a:hover{color: white;}

header nav .socials {border: #7f1d2b 1px solid;}
header nav .socials i{font-size: larger;}

button:hover {transform: scale(1.1); transition: 0.3 ease;background-color: #7f1d2b;color: white !important;}
#contacto a:hover{color: white;}

@media (max-width: 1430px){
   .socials {
      display: none;
   }
   header nav button {
      font-size: larger;
   }
}

@media (max-width:1150px){
   header > nav{left: 43em; width: 50em;}
   .info-usos p {font-size: larger;}

   header nav button {
      font-size: larger;
   }
}

@media (max-width:750px){
     header nav button {
      font-size: larger;
     }
}

.intro {position: relative;height: 46.5em; width: 100em;background-image:url('/fotoalgas2.png');
margin: 0 auto;top: 2em;background-position: center;background-repeat: no-repeat;background-size: cover;}

.intro span {position: absolute; height: 12em; width: 30em; top: 8em;padding: 2em;background-color: #7f1d2b;
color:white;background-color: rgba(127, 29, 43, 0.5);font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
font-weight: bold;font-size: 1.6em;}


#header-nosotros {position: relative;width: 100em; height: 6em;margin: 0 auto;background-color: #7f1d2b; color: white;
font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;font-weight: bold}

#header-nosotros h1 {position:absolute;top:1em;left: 20em;right: 20em;}

.nosotros {position: relative;width: 100em;height: 30em;margin:0 auto;text-align: center;}
.nosotros p,
.nosotros img {display:inline-block;}
.nosotros p {position: absolute;width: 20em;height: 20em;left: 2em;top: 2.5em;width: 30em;font-size: 1.7em;
font-weight: bold;font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;}
.nosotros img {position: absolute;right: 2em;top: 3.5em;border: #7f1d2b 2px ridge;}

#header-aplicaciones {position: relative;width: 100em; height: 6em;margin: 0 auto;background-color: #7f1d2b; color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;font-weight: bold;margin-top: 2em;}
#header-aplicaciones h1 {position:absolute;top:1em;left: 20em;right: 20em;}

.aplicaciones {position: relative;width: 100em;height: 37em;margin:0 auto;text-align: center;border: #7f1d2b solid 1px;
background-image: url("/fotofondo.png");}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
   /* You can also use a semi-transparent background image instead */
   /* background-image: url('your-overlay-image.png'); */
 }
.aplicaciones .iconos {position: absolute; top:0;font-size:4.5em;width: 10em;height: 3em;left: 6em;
color:white;}
.aplicaciones .iconos i {position:relative;top:1em;}
.aplicaciones .iconos i:not(#icono-derecha) {margin-right: 1em;}

.aplicaciones .info-usos {position: relative;height: 20em;width: 22em;margin-right: 1em;bottom: 1em;display: inline-block;top:10em;
padding: 1em;border-radius: 80px;font-size: 1.4em;background-color:transparent;
overflow:hidden;word-wrap: break-word;align-items: center;}

.info-usos p {color:white;font-weight: bold;font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;}

