
header {
   background-color: white;
   height: 8.5em;
   width: 100%;
   z-index: 1;
}

header .logo {
   height: 7em; 
   width: 5em;
}

.logo img {
   height: 7em;
   top: 0.5em;
   width: 5em;

}

header > nav { 
   min-width: 10em;
   top: 3em; 
}

header nav button {
   background-color: white;
   border:0;
   border-radius: 5em; 
   color: #7f1d2b;
   cursor: pointer; 
   font-size: larger;
   font-weight: bold;
   margin-left: 1em;
   padding: 0.5em; 
}

header nav #contacto a {
   color: #7f1d2b;
   text-decoration: none;
}

header nav #nosotros a {
   text-decoration: none;
   color: #7f1d2b;
}

header nav #aplicaciones a {
   color: #7f1d2b;
   text-decoration: none; 
}

header nav #mision a {
   color: #7f1d2b;
   text-decoration: none;
}

#contacto a:hover{color: white;}
#nosotros a:hover{color: white;}
.socials a:hover{color: white;}
#aplicaciones a:hover{color: white;}
#mision a:hover{color: white;}


header nav .socials { border: #7f1d2b 1px solid; }
header nav .socials i{ font-size: larger; }
header nav .socials a {
   color: #7f1d2b;
   text-decoration: none;
}

button:hover {
   background-color: #7f1d2b;
   color: white !important;
   transform: scale(1.1); 
   transition: 0.3 ease;
}

#contacto a:hover {
   color: white;
}

@media (max-width: 1655px){
}

@media (max-width: 1430px){
   .socials {
      display: none;
   }
   header nav button {
      font-size: larger;
   }
}

@media (max-width:1150px){
   header > nav {
      font-size: 0.7em;
      left: 13.5em; 
      max-width: 70%;
      width: 50em;
      top:4.5em;
   }

   .info-usos p {font-size: larger;}

   header nav button {font-size: larger;}
   
   header .logo{left:3em;}
}

@media (max-width:750px){
   header nav button {display: none;}
   .logo{ right: 2em;}
}

main { 
   background-color: pink; 
   margin: 0 0 0 0; 
}
.intro {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image:url('img/fotoalgas2.jpg');
   height: 46.5em; 
   max-width: 90%;
   margin: 0 auto;
   width: 100em;
}

.intro span { 
   height: 12em; 
   width: 30em;
   max-width: 90%; 
   padding: 2em;
   background-color: #7f1d2b;
   color:white;
   background-color: rgba(127, 29, 43, 0.5);
   font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
   font-weight: bold;font-size: 1.6em;
}


#header-nosotros {
   background-color: #7f1d2b;
   color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
   font-weight: bold;
   height: 6em;
   margin: 0 auto;
   max-width: 90%; 
   width: 100em;
}

#header-nosotros h1 {
   top:1em;
   text-align: center;
}

.nosotros {
   width: 100em;
   max-width: 90%;
   height: 30em;
   margin:0 auto;
   text-align: center;
}
.nosotros p,
.nosotros img {
   display:inline-block;
   max-width: 90%;}
.nosotros p {
   font-size: 1.7em;
   font-weight: bold;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
   height: 20em;
   max-width: 90%;
   overflow: hidden;
   width: 20em;
   width: 30em;
}

.nosotros img {border: #7f1d2b 2px ridge;}

#header-aplicaciones {
   background-color: #7f1d2b;
   color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
   font-weight: bold;
   height: 6em;margin: 0 auto;
   margin-top: 2em;
   max-width: 90%;
   width: 100em;
}

#header-aplicaciones h1 {text-align: center;}

.aplicaciones {
   border: #7f1d2b solid 1px;
   background-image: url("/img/fotofondo.png");
   height: 37em;
   max-width: 90%;
   margin:0 auto;
   text-align: center;
   width: 100em;
}

.overlay {
   background-color: rgba(0, 0, 0, 0.5);
   height: 100%;
   width: 100%;
 }

.aplicaciones .iconos {
   color:white;
   font-size:4.5em;
   max-width: 60%;
   width: 10em;
}
.aplicaciones .iconos i {}
.aplicaciones .iconos i:not(#icono-derecha) {margin-right: 1em;}

.aplicaciones .info-usos {
   align-items: center;
   background-color:transparent;
   border-radius: 80px;
   display: inline-block;
   font-size: 1.4em;
   height: 20em;
   max-width: fit-content;
   margin-right: 1em;
   overflow:hidden;
   padding: 1em;
   width: 22em;
   word-wrap: break-word;
}

.info-usos p {
   color:white;
   font-weight: bold;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
}

#header-mision {
   background-color: #7f1d2b; 
   color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
   font-weight: bold;
   height: 6em;
   max-width: 90%;
   margin: 0 auto;
   width: 100em;
}
   
#header-mision h1 {text-align: center;}
   
.mision {
   height: 30em;
   max-width: 90%;
   margin:0 auto;
   text-align: center;
   width: 100em;
}

.mision p,
.mision img {
   display:inline-block;
   height: 24em;
   width: 20m;
}

.mision p {
   font-size: 1.7em;
   font-weight: bold;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
   height: 20em;
   max-width: 90%;
   width: 20em;
   width: 30em;
}
.mision img {}
