* {margin: 0;padding: 0;box-sizing: border-box;}

header { position: fixed;width: 100%;height: 8.5em;background-color: white;z-index: 1;}

header .logo {position: absolute; height: 7em; width: 5em;left: 10em;}

.logo img {position:absolute;height: 7em;width: 5em;top: 0.5em;}

header > nav { position: absolute; right: 10em; top: 3em; min-width: 10em;}
header nav button {border-radius: 5em; padding: 0.5em; cursor: pointer; margin-left: 1em;font-size: larger;
;background-color: white;font-weight: bold;color: #7f1d2b;border:0;}

header nav #contacto a {text-decoration: none;color: #7f1d2b;}
header nav #nosotros a {text-decoration: none;color: #7f1d2b;}
header nav #aplicaciones a {text-decoration: none;color: #7f1d2b;}
header nav #mision a {text-decoration: none;color: #7f1d2b;}

#contacto a:hover{color: white;}
#nosotros a:hover{color: white;}
.socials a:hover{color: white;}
#aplicaciones a:hover{color: white;}
#mision a:hover{color: white;}


header nav .socials {border: #7f1d2b 1px solid;}
header nav .socials i{font-size: larger;}
header nav .socials a {text-decoration: none;color: #7f1d2b;}

button:hover {transform: scale(1.1); transition: 0.3 ease;background-color: #7f1d2b;color: white !important;}
#contacto a:hover{color: white;}

@media (max-width: 1655px){
}

@media (max-width: 1430px){
   .socials {
      display: none;
   }
   header nav button {
      font-size: larger;
   }
}

@media (max-width:1150px){
   header > nav{left: 13.5em; width: 50em;font-size: 0.7em;max-width: 70%;top:4.5em}
   .info-usos p {font-size: larger;}

   header nav button {
      font-size: larger;
   }
   header .logo{
      left:3em;
   }
}

@media (max-width:750px){
     header nav button {
      display: none;
     }
     .logo{
      right:2em;
     }
}

.intro {position: relative;height: 46.5em; width: 100em;max-width: 90%;background-image:url('img/fotoalgas2.jpg');
margin: 0 auto;top: 2em;background-position: center;background-repeat: no-repeat;background-size: cover;}

.intro span {position: absolute; height: 12em; width: 30em;max-width: 90%; top: 8em;padding: 2em;background-color: #7f1d2b;
color:white;background-color: rgba(127, 29, 43, 0.5);font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
font-weight: bold;font-size: 1.6em;}


#header-nosotros {position: relative;width: 100em;max-width: 90%; height: 6em;margin: 0 auto;background-color: #7f1d2b; color: white;
font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;font-weight: bold}

#header-nosotros h1 {position:relative;top:1em;text-align: center;}

.nosotros {position: relative;width: 100em;max-width: 90%;height: 30em;margin:0 auto;text-align: center;}
.nosotros p,
.nosotros img {display:inline-block;max-width: 90%;}
.nosotros p {position: absolute;width: 20em;max-width: 90%;height: 20em;left: 2em;top: 2.5em;width: 30em;font-size: 1.7em;
font-weight: bold;font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;overflow: hidden;}
.nosotros img {position: absolute;right: 0em;top: 3.5em;border: #7f1d2b 2px ridge;}

#header-aplicaciones {position: relative;width: 100em;max-width: 90%;height: 6em;margin: 0 auto;background-color: #7f1d2b; color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;font-weight: bold;margin-top: 2em;}
#header-aplicaciones h1 {position:relative;top:1em;text-align: center;}

.aplicaciones {position: relative;width: 100em;max-width: 90%;height: 37em;margin:0 auto;text-align: center;border: #7f1d2b solid 1px;
background-image: url("/img/fotofondo.png");}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
   /* You can also use a semi-transparent background image instead */
   /* background-image: url('your-overlay-image.png'); */
 }
.aplicaciones .iconos {position: absolute; top:0;font-size:4.5em;width: 10em;left: 25%;
color:white;max-width: 60%;}
.aplicaciones .iconos i {position:relative;top:1em;}
.aplicaciones .iconos i:not(#icono-derecha) {margin-right: 1em;}

.aplicaciones .info-usos {position: relative;height: 20em;width: 22em;margin-right: 1em;bottom: 1em;display: inline-block;top:10em;
padding: 1em;border-radius: 80px;font-size: 1.4em;background-color:transparent;
overflow:hidden;word-wrap: break-word;align-items: center;max-width: fit-content;}
.info-usos p {color:white;font-weight: bold;font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;}

#header-mision {position: relative;width: 100em;max-width: 90%;height: 6em;margin: 0 auto;background-color: #7f1d2b; color: white;
   font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;font-weight: bold}
   
#header-mision h1 {position:relative;top:1em;text-align: center;}
   
.mision {position: relative;width: 100em;max-width: 90%;height: 30em;margin:0 auto;text-align: center;}
.mision p,
.mision img {display:inline-block;height: 24em;width: 20m;}
.mision p {position: absolute;width: 20em;max-width: 90%;height: 20em;left: 2em;top: 2.5em;width: 30em;font-size: 1.7em;
font-weight: bold;font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;}
.mision img {position: absolute;right: 7em;top: 0em;}
